:root{
  --color-blue:#34547a;
  --color-discription:#717171;
  --color-light:#eeeff1;
  --color-white:#fff;
  --color-black:#000;
  --font-family:"Roboto", sans-serif;
  --font-size:16px;
  --line-height:1.64;
  --letter-spacing:.1em;
  --container-primary:1110px;
  --container-secondary:540px;
  --gap:20px;
  --gap-sm:calc(var(--gap) * .5);
  --gap-md:calc(var(--gap) * 1.5);
  --gap-lg:calc(var(--gap) * 2);
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin:0;
  padding:0;
  list-style-type:none;
}

html{
  font-family:"Roboto", sans-serif;
  font-size:var(--font-size);
}

.container{
  width:min(100% - var(--gap-lg), var(--container-primary));
  margin-inline:auto;
}

.item-hidden{
  position:absolute;
  overflow:hidden;
  clip:rect(0 0 0 0);
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  white-space:nowrap;
  border:0;
  -webkit-clip-path:inset(100%);
          clip-path:inset(100%);
}

.header{
  width:100%;
  padding-top:69px;
  padding-bottom:141px;
  background-color:var(--color-light);
}

.navbar{
  margin-bottom:136px;
}

.navbar__list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:10px var(--gap-lg);
}

.navbar__link{
  line-height:var(--line-height);
  display:block;
  padding:0.5em 3px 0.5em 0;
  letter-spacing:var(--letter-spacing);
  color:var(--color-black);
}

.navbar__link--active{
  font-weight:500;
  color:var(--color-blue);
}

.content{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  max-width:var(--container-secondary);
  -webkit-box-align:self-start;
      -ms-flex-align:self-start;
          align-items:self-start;
}

.content__title{
  font-size:3rem;
  font-weight:500;
  line-height:var(--line-height);
  margin:0 0 33px;
}

.content__description{
  font-weight:400;
  line-height:var(--line-height);
  margin-bottom:57px;
  color:var(--color-discription);
}

.content__link{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  min-width:225px;
  min-height:65px;
  padding:0.5em 1em;
  letter-spacing:var(--letter-spacing);
  color:var(--color-white);
  background-color:var(--color-blue);
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.section{
  padding-top:101px;
  padding-bottom:89px;
}

.about__title{
  font-size:2rem;
  font-weight:500;
  line-height:var(--line-height);
  padding-bottom:50px;
  text-align:center;
}

.about__description{
  font-weight:400;
  line-height:var(--line-height);
  width:540px;
  height:67px;
  margin:0 auto;
  text-align:center;
  color:var(--color-discription);
}

.experience{
  padding:100px 0 100px 0;
  background-color:var(--color-blue);
}

.experience__list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:48px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.experience-item__number{
  font-size:1.3125rem;
}

.experience-item__description{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  padding-left:20px;
  -webkit-box-pack:space-evenly;
      -ms-flex-pack:space-evenly;
          justify-content:space-evenly;
}

.experience-item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
  color:var(--color-white);
}

.work__title{
  font-size:2rem;
  font-weight:500;
  line-height:var(--line-height);
  padding-bottom:50px;
  text-align:center;
}

.work__description{
  font-weight:400;
  line-height:var(--line-height);
  width:540px;
  height:67px;
  margin:0 auto;
  text-align:center;
  color:var(--color-discription);
}

.video{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding-bottom:100px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.video__item{
  width:100%;
  height:600px;
  margin:0 auto;
  -webkit-animation-name:video;
          animation-name:video;
}

.law{
  background-color:var(--color-blue);
}

.law__content{
  color:var(--color-white);
}

.law__title{
  padding-top:50px;
  padding-bottom:21px;
}

.law__description{
  padding-bottom:50px;
}

@media (min-width: 375px){
  .about__description{
    width:335px;
  }
  .work__description{
    width:335px;
  }
}

@media (min-width: 768px){
  .about__description{
    width:540px;
  }
  .work__description{
    width:540px;
  }
}