$color-blue: #34547a;
$color-description: #717171;
$color-light: #eeeff1;
$color-white: #fff;
$color-black: #000;

$font-family: 'Roboto', sans-serif;
$font-size: 16px;

$line-height: 1.64;
$letter-spacing: .1em;

$container-primary: 1110px;
$container-secondary: 540px;

$gap: 20px;
$gap-sm: calc($gap * .5);
$gap-md: calc($gap * 1.5);
$gap-lg: calc($gap * 2);
