@use 'mixins/index' as *;
@use 'presets/index' as *;
@use 'common/index' as *;
@use 'section/index' as *;




@media (min-width: 375px) {
    .about__description {
        width: 335px;
    }
    .work__description {
        width: 335px;
    }
}

@media (min-width: 768px) {
    .about__description {
        width: 540px;
    }
    .work__description {
        width: 540px;
    }
}
